body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
.section-divider {
    margin: 10px auto;
    width: 60%;
    border: none;
    border-top: 1px solid #ddd;
}

.section-title {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#d0d2d6;
}

.header-image {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-image .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50px; /* Height of the overlay */
    background: rgba(81, 80, 80, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header-image:hover .overlay {
    opacity: 1;
    height: 50px; /* Height of the overlay on hover */
}

.header-image .overlay .text {
    color: white;
    font-size: 18px;
}

.about-section {
    text-align: center;
    padding: 50px;
}

.profile-pic {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.about-section p {
    font-size: 18px;
    margin-top: 10px;
}

.projects {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    align-items: center; /* Center projects horizontally */
    padding: 20px;
}

.project {
    max-width: 800px; /* Limit project width */
    margin-bottom: 20px; /* Space between projects */
    overflow: hidden; /* Optional: hides overflowing content */
    display: grid;
    grid-template-columns: 1fr 2fr; /* Adjust image width and description width */
    gap: 20px; /* Adjust gap between image and description */
}

.project img {
    width: 110%; /* Adjust image width */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images fill container */
    border-radius: 8px;
}

.project-info {
    padding: 20px;
}

.project-info a {
    color: #007BFF;
    text-decoration: none;
}

.project-info a:hover {
    text-decoration: underline;
}

.image-gallery {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 800px; /* Optional: Limit the maximum width of the gallery */
    margin: 0 auto; /* Center the gallery horizontally */
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr); /* 1 column on very small screens */
    }
}

@media (min-width: 480px) {
    .gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        aspect-ratio: 1 / 1; /* Force square aspect ratio */
    }
}
